<div class="principal">
    <article class="conteudo">
        <header class="titulo">
            Fatec
        </header>
        <div class="corpo">
            Cursos na área de tecnologia.
        </div>
    </article>
    <hr>        
    <div class="container">
        
        <form #alunoForm (ngSubmit) = "salvar(alunoForm)">
            <div class="row">
                <div class="form-group col-8">
                    <label for="nomeInput">Nome</label>
                    <input id="nomeImput"name ="Nome" type="text" placeholder="nome" class="form-control p-4" [(ngModel)]="pessoa.nome">
                </div>
            </div>
            <div class="row">
                <div class="form-group col-8">
                    <label for="idadeInput">Idade</label>
                    <input id="idadeImput"name ="Idade"type="text" placeholder="idade" class="form-control p-4"[(ngModel)]="pessoa.Idade">
                </div>
               

                <div class="form-group col-md-8">
                    <label for="cursoInput">Cursos</label>
                    <select name="curso" id="cursoInput" class="form-control"[(ngModel)]="pessoa.curso">
                        <option value="">Selecione</option>
                        <option *ngFor="let curso of cursos">{{curso}}</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div  [ngStyle]="{ 'margin-top': '4px'}" class="col-12">
                    <button [ngStyle]="EstilosParaBotao()" type="submit" class="btn btn-primary btn-block">Enviar</button>
                </div>
            </div>
        </form>
    </div>
    {{pessoa | json}}
    <div>
        <br>
        <hr>
        <footer [ngClass]="ObterClassesRodape()">
            Silas. 2020. Exercicio.
        </footer>
    </div>
</div>